# Flask - for web server
flask==3.0.2

# CORS - for cross-origin requests
flask_cors=4.0.0

# SocketIO - for websockets
flask-socketio==5.3.6

# Dotenv - for environment variables
python-dotenv==1.0.1

# Invoke - for task management
invoke==2.2.0

# Celery
celery=5.3.6

#langchain - for chatbot
langchain==0.0.352
openai==0.27.8